<h2>URLs</h2>

<h3>Shorten a URL</h3>

{{input value=value placeholder="Paste a URL here"}}

<h3>Shortened URLs</h3>

{{#each model as |url|}}
  <ul>
    <li>
      <div>
        <a href="/g/{{url.short}}">ur.ls/{{url.short}}</a>
      </div>
      <div>
        <a href="{{url.long}}">{{url.long}}</a>
      </div>
    </li>
  </ul>
{{/each}}
