<h2>URLs</h2>

<h3>Shorten a URL</h3>

{{input
  enter=(action 'shortenUrl')
  value=value
  placeholder="Paste a URL here"}}

<h3>Shortened URLs</h3>

{{#each model as |url|}}
  <ul>
    <li>
      <div>
        {{#if url.isSaving}}
          Saving...
        {{else}}
          <a href="{{url.shortUrl}}">{{url.shortDisplay}}</a>
        {{/if}}
      </div>
      <div>
        <a href="{{url.long}}">{{url.longDisplay}}</a>
      </div>
    </li>
  </ul>
{{/each}}
